@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-persian);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Fix input vertical alignment with Vazirmatn font */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-family: var(--font-geist-sans), sans-serif !important;
}

input[type="date"] {
    -webkit-appearance: none; /* or 'none' for full control */
    display: block;
    box-sizing: border-box;
}